/* Keep footer at the bottom */

#min_width_container {
  min-height: calc(100vh - 200px);
  padding-bottom: 200px;
}

div#wide-footer,
div#footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin-bottom: 0;
}

/* Keep buttons at ensembl in the same position as in downloads and blast */

div.lb-menu-category {
  float: left;
  height: 22px;
  margin: 6px 0 0 8px;
  background-color: [[PAGE_BG]];
  padding: 5px;
  border: none;
  border-radius: 4px;
  color: [[MH_BG]];
  line-height: 22px;
  font-size: 16px;
  font-family: Helvetica, arial, sans-serif;
}

a div.lb-menu-category:hover {
  border: none;
}

div.lb-tools-holder {
  left: 49px;
  padding-top: 24px;
  position: absolute;
  width: 500px;
  top: 11px;
}

/* Keep logo at ensembl in the same position as in downloads and blast */

#masthead .logo_holder {
  top: 11px;
}
