/* Keep footer at the bottom */

#min_width_container {
  min-height: calc(100vh - 200px);
  padding-bottom: 200px;
}

div#wide-footer, div#footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin-bottom: 0;
}

/* Keep buttons at ensembl in the same position as in downloads and blast */

div.lb-tools-holder { 
  left: 49px;    
}

/* Keep logo at ensembl in the same position as in downloads and blast */

#masthead .logo_holder { top: 11px;}
